<div class="animated fadeIn">
	<span *ngIf="showLoader" class="loading"></span>
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">Employment Application ({{application.code}})</h4>
		<p>lastName: {{application.lastName}}</p>
		<p>sectionA: locations: {{application.sectionA.locations}}<br />
			         otherLocation: {{application.sectionA.otherLocation}}<br />
			         agreeText: {{application.sectionA.agreeText}}<br />
			         agreeTime: {{application.sectionA.agreeTime}}<br />
		</p>
	</div>
</div>