<div class="animated fadeIn">
<tabset>
    <tab heading="United McGill">
      <div class="card card-block card-outline-primary ">
		    <h4 class="card-title card-accent-primary">Locations</h4>
		    <div class="card-text">
          <br />
          <b>United McGill Corporation (UMC) Corporate Headquarters</b>
          <hr>
          One Mission Park<br />
          Groveport, OH 43125-1149<br />
          614/829-1200<br />
          Fax: 614/829-1291<br />
          marketing@unitedmcgill.com<br />
          accounting@unitedmcgill.com<br />
          computer@unitedmcgill.com<br />
		    </div>
		    <div class="card-text">
          <br />
          <b>United McGill Corporation (UMC)</b>
          <hr>
          1777 Refugee Rd.<br />
          Columbus, OH 43207<br />
          614/829-1200<br />
          Fax: 614/829-1339<br />
		    </div>
	    </div>
    </tab>
    <tab heading="McGill AirClean">
      <div class="card card-block card-outline-primary ">
		    <h4 class="card-title card-accent-primary">Locations</h4>
		    <div class="card-text">
          <br />
          <b>McGill AirClean LLC</b>
          <hr>
          1777 Refugee Rd.<br />
          Columbus, OH 43207<br />
          614/829-1200<br />
          Fax: 614/445-8759<br />
          sales@mcgillairclean.com<br />
		    </div>
		    <div class="card-text">
          <br />
          <b>McGill AirClean Plant</b>
          <hr>
          1779 Refugee Rd.<br />
          Columbus, OH 43207<br />
          614/829-1200<br />
          Fax: 614/829-1319<br />
          production@mcgillairclean.com<br />
		    </div>
	    </div>
    </tab>
    <tab heading="McGill AirFlow">
      <div class="card card-block card-outline-primary ">
		    <h4 class="card-title card-accent-primary">Locations</h4>
        <tabset class="locations">
          <tab heading="AK">
            test<br />
            <hr>
            <ul>
              <li>test</li>
            </ul>
            test <br />
          </tab>
          <tab heading="AK">
          </tab>
          <tab heading="AL">
          </tab>
          <tab heading="AR">
          </tab>
          <tab heading="AZ">
          </tab>
          <tab heading="CA">
          </tab>
          <tab heading="CO">
          </tab>
          <tab heading="CT">
          </tab>
          <tab heading="DE">
          </tab>
          <tab heading="DC">
          </tab>
          <tab heading="FL">
          </tab>
          <tab heading="GA">
          </tab>
          <tab heading="HI">
          </tab>
          <tab heading="ID">
          </tab>
          <tab heading="IL">
          </tab>
          <tab heading="IN">
          </tab>
          <tab heading="IA">
          </tab>
          <tab heading="KS">
          </tab>
          <tab heading="KY">
          </tab>
          <tab heading="LA">
          </tab>
          <tab heading="MA">
          </tab>
          <tab heading="MD">
          </tab>
          <tab heading="ME">
          </tab>
          <tab heading="MI">
          </tab>
          <tab heading="MN">
          </tab>
          <tab heading="MO">
          </tab>
          <tab heading="MS">
          </tab>
          <tab heading="MT">
          </tab>
          <tab heading="NC">
          </tab>
          <tab heading="ND">
          </tab>
          <tab heading="NE">
          </tab>
          <tab heading="NH">
          </tab>
          <tab heading="NJ">
          </tab>
          <tab heading="NM">
          </tab>
          <tab heading="NY">
          </tab>
          <tab heading="NV">
          </tab>
          <tab heading="OH">
          </tab>
          <tab heading="OK">
          </tab>
          <tab heading="OR">
          </tab>
          <tab heading="PA">
          </tab>
          <tab heading="PR">
          </tab>
          <tab heading="RI">
          </tab>
          <tab heading="SC">
          </tab>
          <tab heading="SD">
          </tab>
          <tab heading="TN">
          </tab>
          <tab heading="TX">
          </tab>
          <tab heading="UT">
          </tab>
          <tab heading="VA">
          </tab>
          <tab heading="VT">
          </tab>
          <tab heading="WA">
          </tab>
          <tab heading="WI">
          </tab>
          <tab heading="WV">
          </tab>
          <tab heading="WY">
          </tab>
          <tab heading="Canada">
          </tab>
        </tabset>
	    </div>
    </tab>
    <!--<tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      {{tabz?.content}}
    </tab>-->
    <!--<tab (select)="alertMe()">
      <template tabHeading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>-->
  </tabset>
</div>