<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">Career Opportunities</h4>
		<a class="btn btn-primary" href="http://unitedmcgill.applicantstack.com/x/search"><i class="fa fa-search"></i>&nbsp;&nbsp;Career Search</a>
		<p class="card-text"></p>
    <hr>
		<tabset>
			<tab heading="Company Profile">
				<div class="card card-block card-outline-primary ">
					<h4 class="card-title card-accent-primary">United McGill & Family of Companies</h4>
					<div class="card-text">
						<p>United McGill Corporation was founded in 1951 in Columbus, Ohio, as a local sheet metal contractor and fabricator. Today, we are a national company that specializes in engineering, manufacturing, and field installation of many different construction and industrial products and systems. We design our products, adapt them to specific applications, and fabricate them. In many cases, we also provide installation, testing, and follow-up services.</p>
						<p>United McGill is a family-owned company. We are a medium-size company with annual sales of about $40 million. With headquarters in central Ohio, we have a nationwide team of more than 200 Associates.</p>
					  <p>We operate manufacturing plants in central Ohio and four other states. The Company has five operating subsidiaries, and each has been active for decades.</p>
					</div>
					<div class="media col-md-6 p-1">
							<div class="media-left">
									<img src="assets/img/home/airclean.jpg">
							</div>
							<div class="media-body">
									<a href="http://www.mcgillairclean.com"><h6>McGill AirClean <small>LLC</small></h6></a>
									<p>Located in Columbus, we have more than 40 years of experience solving the air pollution control problems of a large variety of industrial sources, including furnaces, boilers, incinerators, kilns, and dryers.</p>
							</div>
					</div>
					<p></p>
						<div class="media col-md-6 p-1">
							<div class="media-left">
								<img src="assets/img/home/airflow.jpg">
							</div>
							<div class="media-body">
								<a href="http://www.mcgillairflow.com"><h6>McGill AirFlow <small>LLC</small></h6></a>
								<p>We are one of the country’s leading suppliers of commercial and industrial sheet metal ductwork with an extensive line of products, including round, flat oval, and rectangular ductwork and related items. We have facilities nationwide.</p>
							</div>
						</div>
						<p></p>
						<div class="media col-md-6 p-1">
							<div class="media-left">
								<img src="assets/img/home/airpressure.jpg">
							</div>
							<div class="media-body">
								<a href="http://www.mcgillairpressure.com"><h6>McGill AirPressure <small>LLC</small></h6></a>
								<p>Located in Columbus, we engineer and manufacture pressure processing equipment, such as autoclaves and vacuum dryers, for many industries.</p>
							</div>
						</div>        
						<p></p>
						<div class="media col-md-6 p-1">
								<div class="media-left">
										<img src="assets/img/home/airsilence.jpg">
								</div>
								<div class="media-body">
										<a href="http://www.mcgillairsilence.com"><h6>McGill AirSilence <small>LLC</small></h6></a>
										<p>Based in Columbus, we serve broad industrial and HVAC markets with noise control products, including silencers and insulated metal panels.</p>
								</div>
							</div>        
							<p></p>
							<div class="media col-md-6 p-1">
								<div class="media-left">
										<img src="assets/img/home/airseal.jpg">
								</div>
								<div class="media-body">
										<a href="http://www.mcgillairseal.com"><h6>McGill AirSeal <small>LLC</small></h6></a>
										<p>Based in Columbus, we offer a complete line of sealants and adhesives for residential, commercial, and industrial HVAC ductwork.</p>
								</div>
						</div>        			
				</div>
			</tab>
			<tab heading="Benefits">
				<div class="card card-block card-outline-primary ">
					<h4 class="card-title card-accent-primary">Benefits</h4>
					<div class="card-text">
						<div class="col-xs-12 text-xs-left"><p>The McGill family of companies offers a competitive salary and benefits package.</p><hr></div>
						<div class="col-xs-12 text-xs-left"><p>Salaried Associates are eligible for the following benefits:</p></div>
						<div class="col-xs-5 text-xs-right"><b>Health Care Plan</b></div>
						<div class="col-xs-6 text-xs-left"><p>Medical care, prescription drug card, dental care, and vision care coverage are provided for Associates and their dependents.</p></div>
						<div class="col-xs-5 text-xs-right"><b>Life Insurance</b></div>
						<div class="col-xs-7 text-xs-left"><p>Associates are provided life insurance coverage. Supplemental and dependent life coverages may be purchased by the Associate.</p></div>
						<div class="col-xs-5 text-xs-right"><b>Disability Plans</b></div>
						<div class="col-xs-7 text-xs-left"><p>The Company provides short term and long term disability benefits.</p></div>
						<div class="col-xs-5 text-xs-right"><b>401(k) Pay Deferral Plan</b></div>
						<div class="col-xs-7 text-xs-left"><p>Associates may defer pay into the Plan on a before- or after-tax basis (Roth). For salaried Associates, the Company makes a matching contribution on Associate's deferrals.</p></div>
						<div class="col-xs-5 text-xs-right"><b>Flexible Spending Account (FSA)</b></div>
						<div class="col-xs-7 text-xs-left"><p>Associates may defer compensation on a pre-tax basis to pay for qualified health care and dependents care expenses.</p></div>
						<div class="col-xs-5 text-xs-right"><b>Health Savings Account (HSA)</b></div>
						<div class="col-xs-7 text-xs-left"><p>Associates may defer compensation on a pre-tax basis, if covered by a High Deductible Healthcare Plan (HDHP), to pay for qualified healthcare expenses.</p></div>
						<div class="col-xs-5 text-xs-right"><b>Paid Time Off (PTO) or Vacation Time</b></div>
						<div class="col-xs-7 text-xs-left"><p>Associates can accrue paid time off for vacation, sickness, and personal use.</p></div>
						<div class="col-xs-5 text-xs-right"><b>Holidays</b></div>
						<div class="col-xs-7 text-xs-left"><p>The Company provides eight paid holidays each year. In addition, after one year of service, salaried Associates are eligible for a floating holiday.</p></div>
						<div class="col-xs-5 text-xs-right"><b>Employee Assistance Program (EAP)</b></div>
						<div class="col-xs-7 text-xs-left"><p>The Company provides Associates and their dependents professional assistance in resolving personal problems or self improvement assistance.</p></div>
					</div>
					<div class="card-text">
						<div class="col-xs-12 text-xs-left"><hr><p>For more information on career opportunities contact the Personnel Services Department at: </p></div>			
						<div class="col-xs-12 text-xs-left">
							<b>personnel@unitedmcgill.com</b><br><br>
							United McGill Corporation<br>
							One Mission Park<br>
							Groveport, OH 43125<br><br>
							Contact: Staffing Coordinator<br>
							Phone: 614/829-1200<br>
							Fax: 614/829-1294<br><br>
							<a class="nav-link" routerLinkActive="active" [routerLink]="['/contactus']">Click here to use the Contact Us form</a>
						</div>
					</div>
				</div>
			</tab>
		</tabset>		
  </div>
</div>