<div class="animated fadeIn">
	<app-jumbotron></app-jumbotron>
    <p></p>
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">United McGill Corporation</h4>
		<p class="card-text">United McGill Corporation was founded in 1951 as a local sheet metal contractor and steel fabricator. Today it is a national business specializing in engineering, manufacturing, and field installation of many construction products and industrial systems. United McGill is a family owned company with about 150 Associates and annual sales of approximately $30 million. Headquartered in central Ohio, we operate manufacturing plants in central Ohio and five other states.</p>
	</div>
    <p></p>
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">Family of Companies</h4>
		<p class="card-text">United McGill Corporation has five wholly-owned subsidiaries and each has been active for decades:</p>
        <p></p>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/home/airclean.jpg">
            </div>
            <div class="media-body">
                <a href="http://mcgillairclean.com"><h6>McGill AirClean <small>LLC</small></h6></a>
                <p>We have more than 50 years experience solving the air pollution control problems of a large variety of industrial processes, including furnaces, boilers, incinerators, kilns, and dryers. During that time, we have helped customers comply with clean air regulations in the glass, steel, paper, wood, semiconductor, asphalt, and many other industries. With our extensive line of air pollution control equipment, we can solve problems involving different types and combinations of particulates, acid gases, and volatile organic compound (VOC) emissions. Our product line includes dry and wet electrostatic precipitators, acid gas scrubbers, fabric filters, and regenerative thermal oxidizers.</p>
            </div>
	    </div>
        <p></p>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/home/airflow.jpg">
            </div>
            <div class="media-body">
                <a href="http://mcgillairflow.com"><h6>McGill AirFlow <small>LLC</small></h6></a>
                <p>We pioneered the manufacture and use of spiral duct and fittings for heating, ventilating, and air conditioning (HVAC) in the USA. Our extensive lines of duct system products are engineered for performance and economy and continue to set the standard for the industry. We are the country's leading manufacturer of commercial and industrial sheet metal ductwork supported by our nationwide Duct Express fulfillment service and network of sales engineering offices and manufacturing plants.</p>
            </div>
	    </div>
        <p></p>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/home/airpressure.jpg">
            </div>
            <div class="media-body">
                <a href="http://mcgillairpressure.com"><h6>McGill AirPressure <small>LLC</small></h6></a>
                <p>Our pressure processing equipment is designed to be safe, dependable, and economical. We engineer and build autoclaves for processing materials in many industries, including aerospace, electronics, rubber, and glass. Our vacuum dryers are used extensively in the chemical and pharmaceutical industries. We offer complete maintenance and repair service to keep autoclaves and vacuum dryers performing as designed.</p>
            </div>
	    </div>        
        <p></p>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/home/airsilence.jpg">
            </div>
            <div class="media-body">
                <a href="http://mcgillairsilence.com"><h6>McGill AirSilence <small>LLC</small></h6></a>
                <p>We provide noise control solutions for a broad range of industrial and HVAC applications. We accomplish that by offering a diversified line of acoustical products and a manufacturing facility for the production of acoustical products. We also offer turnkey services for all our products to ensure that you receive a high-quality installation, which meets your noise control and service requirements. Products include panel systems and enclosures, silencers, curtain systems, barriers, baffles, and an array of noise control materials such as foams, tiles, and acoustical linings.</p>
            </div>
	    </div>        
        <p></p>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/home/airseal.jpg">
            </div>
            <div class="media-body">
                <a href="http://mcgillairseal.com"><h6>McGill AirSeal <small>LLC</small></h6></a>
                <p>We offer through our distributors the leading line of sealants and adhesives for residential, commercial, and industrial HVAC and ductwork. Products are available in both solvent- and water-based forms for many different needs and uses.</p>
            </div>
	    </div>        
	</div>
    <p></p>
	<div class="card card-block card-outline-success ">
        <div class="card-header card-success">
            <h4>News</h4>
        </div>
        <p></p>
		<h5 class="card-title">Heading for First Item</h5>
		<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        <a href="#" class="btn btn-success">Go somewhere</a>
	</div>
</div>