/*.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; }
.another-file-over-class { border: dotted 3px green; }*/

.circle{width:100px;height:100px;margin:10px auto;position:relative;color:#41c7f9}
