<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">McGill Files</h4>
		<p class="card-text">This application will allow employees of the McGill Family of Companies to share files with customers, clients, and other employees. It is meant to be used in place of sending large email attachments. If you would like to get started, enter your code in the text box and press Go.</p>
    <hr>
		<tabset>
			<tab heading="Test">
				<div class="card card-block card-outline-primary ">
					<h4 class="card-title card-accent-primary">Test</h4>

						<div class="container">

							<div class="navbar navbar-default">
								<div class="navbar-header">
									<a class="navbar-brand" href>Angular2 File Upload</a>
								</div>
							</div>

							<div class="row">

								<div class="col-md-3">

									<h3>Select files</h3>

									<div ng2FileDrop
										[ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
										(fileOver)="fileOverBase($event)"
										[uploader]="uploader"
										class="well my-drop-zone">
										Base drop zone
									</div>

									<div ng2FileDrop
										[ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
										(fileOver)="fileOverAnother($event)"
										[uploader]="uploader"
										class="well my-drop-zone">
										Another drop zone
									</div>

									Multiple
									<input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

									Single
									<input type="file" ng2FileSelect [uploader]="uploader" />
								</div>

								<div class="col-md-9" style="margin-bottom: 40px">

									<h3>Upload queue</h3>
									<p>Queue length: {{ uploader?.queue?.length }}</p>

									<table class="table">
										<thead>
										<tr>
											<th width="50%">Name</th>
											<th>Size</th>
											<th>Progress</th>
											<th>Status</th>
											<th>Actions</th>
										</tr>
										</thead>
										<tbody>
										<tr *ngFor="let item of uploader.queue">
											<td><strong>{{ item?.file?.name }}</strong></td>
											<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
											<td *ngIf="uploader.isHTML5">
												<div class="progress" style="margin-bottom: 0;">
													<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
												</div>
											</td>
											<td class="text-center">
												<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
												<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
												<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
											</td>
											<td nowrap>
												<button type="button" class="btn btn-success btn-xs"
														(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
													<span class="glyphicon glyphicon-upload"></span> Upload
												</button>
												<button type="button" class="btn btn-warning btn-xs"
														(click)="item.cancel()" [disabled]="!item.isUploading">
													<span class="glyphicon glyphicon-ban-circle"></span> Cancel
												</button>
												<button type="button" class="btn btn-danger btn-xs"
														(click)="item.remove()">
													<span class="glyphicon glyphicon-trash"></span> Remove
												</button>
											</td>
										</tr>
										</tbody>
									</table>

									<div>
										<div>
											Queue progress:
											<div class="progress" style="">
												<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
											</div>
										</div>
										<button type="button" class="btn btn-success btn-s"
												(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
											<span class="glyphicon glyphicon-upload"></span> Upload all
										</button>
										<button type="button" class="btn btn-warning btn-s"
												(click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
											<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
										</button>
										<button type="button" class="btn btn-danger btn-s"
												(click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
											<span class="glyphicon glyphicon-trash"></span> Remove all
										</button>
									</div>

								</div>

							</div>

						</div>


				</div>
			</tab>
			<tab heading="File Sharing Code">
				<div class="card card-block card-outline-primary ">
					<h4 class="card-title card-accent-primary">Enter the file sharing code</h4>
					<p class="cart-text">Your code should be 10 characters long, and will only contain the numbers 0 - 9 and letters A - F.</p>
					<form  name="enterCode" (ngSubmit)="navigateToShare()" #codeForm="ngForm" >
						<div class="form-group row">
							<div class="col-xs-5">
								<input type="text" minlength="10" maxlength="10" class="form-control" id="code-input" [(ngModel)]="locationCode" name="code" required #code="ngModel">
								<div [hidden]="code.valid || code.pristine" 
									class="alert alert-danger">
									Code must be a length of 10
								</div>
							</div>
							<div class="col-xs-7">
          						<button class="btn btn-success" [disabled]="!codeForm.form.valid" >Go</button>   
        					</div>	
						</div>
					</form>	
			 	</div>
			</tab>
			<tab heading="Create File Share">
				<div class="card card-block card-outline-primary ">
					<h4 class="card-title card-accent-primary">Create a file share</h4>
					<div class="card-text">
					</div>
				</div>
			</tab>
			<tab heading="Help">
				<div class="card card-block card-outline-primary ">
					<h4 class="card-title card-accent-primary">Help</h4>
					<p class="card-text"><b>Enter your code</b><br>
					If you have already been given a code to access a file share location, enter it into the text box and press Go. Please contact the associate you are working with if you need to share files and do not have a code.<br>
					You may have to provide a user name and password to access the page. If you cannot remember this information, please contact us.
					</p>
					<p class="card-text"><b>Click Browse... and find your file to upload</b><br>
					Under the Share a New File heading, click the Browse... button. A new window will appear, prompting you to find a file on your computer to upload.<br>
					After you have found the file, press the Open button at the lower-right of the window. It will disappear, and your file name will be displayed in the text box next to the Browse... button.
					</p>
					<p class="card-text"><b>Click Upload</b><br>
					Make sure the file you wish to upload is displayed in the text box, and click the Upload button. You will be able to monitor the progress of your upload as it happens.<br>
					After the upload is finished, your file will be included in the List of Shared Files at the top of the page. It will be immediately available for anyone to download.
					</p>
					<p class="card-text"><b>Share the uploaded file</b><br>
					There are a few ways to share your uploaded files:
					</p>
					<ul>
						<li>Highlight and copy the Shared File Location's code under the <b>About this File Sharing Location</b> heading, and give it to the intended recepient.</li>
						<li>Highlight and copy/paste the link to the File Sharing Location (also under the <b>About this File Sharing Location</b> heading). This would enable the recipient to access the File Sharing Location without entering a code.</li>						
						<li>Highlight and copy/paste the direct link to the file you wish to share, located in the <b>List of Shared Files</b>.</li>						
					</ul>
					<p class="card-text"><b>Deleting Files</b><br>
					To delete a file, click the check box next to the unwanted file, and press the delete button. You can delete all files from the share location by placing a check in the box at the top of the list.
					</p>
				</div>
			</tab>
			<tab heading="Admin">
				<div class="card card-block card-outline-primary ">
					<h4 class="card-title card-accent-primary">Admin</h4>
					<div class="p-1">
						<a class="btn btn-primary" href="#"><i class="fa fa-search"></i>&nbsp;&nbsp;View all file shares</a>
					</div>
					<div class="p-1">
						<a class="btn btn-primary" href="#"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Login to manage file shares</a>
					</div>
				</div>
			</tab>
		
		</tabset>		
  </div>
</div>