// Here you can add other styles

tabset.locations > .nav-tabs {
    background-color: aliceblue;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 3px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 3px solid #a94442; /* red */
}